/*------------------------------------*\
    background-color
\*------------------------------------*/

.bg-gradient-y {
    @include gradient-y($primary-200, $primary-600);
}

.bg-2 {
    background: radial-gradient(50% 50.00% at 50% 50.00%, #300871 0%, #000 100%);
}

/*------------------------------------*\
    link style
\*------------------------------------*/
.link-color-white {
    color: white;
    position: relative;
    font-weight: 500;

    &:hover {
        color: white;
    }

    &::after {
        content: "";
        display: block;
        width: 0%;
        height: 2px;
        background-color: white;
        margin: 0 auto;
        transition: width 0.8s;
    }

    &:hover::after {
        width: 100%;
    }
}

.link-color-dark {
    color: black;
    position: relative;

    &:hover {
        color: black;
    }

    &::after {
        content: "";
        display: block;
        width: 0%;
        height: 2px;
        background-color: black;
        margin: 0 auto;
        transition: width 0.8s;
    }

    &:hover::after {
        width: 100%;
    }
}

.btn-hover:hover {
    color: white;
    background-color: $primary-200;

    .icon-open {
        display: none;
    }

    .icon-none {
        display: inline;
    }
}

.btn-primary:hover {
    color: black;
    background-color: white;

    .icon-open {
        display: none;
    }

    .icon-none {
        display: inline;
    }
}


/*------------------------------------*\
    font style
\*------------------------------------*/
.noto-sans {
    font-family: 'Noto Sans TC', sans-serif;
}

.letter-spacing-xs {
    letter-spacing: 0.1rem;
}

.letter-spacing-sm {
    letter-spacing: 0.3rem;

    @include media-min-576 {
        letter-spacing: 1rem;
    }
}


/*------------------------------------*\
    btn icon
\*------------------------------------*/
.icon-none {
    display: none;
}

.icon-open {
    display: inline;
}

/*------------------------------------*\
    color
\*------------------------------------*/
.dark-primary {
    color: $primary-700;
}

/*------------------------------------*\
    animation
\*------------------------------------*/

@keyframes rotate-360 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}