/*------------------------------------*\
    background-color
\*------------------------------------*/

.bg-1{
    background: linear-gradient(180deg, #7000FF 0%, #11002D 100%);
}

.bg-2{
    background: radial-gradient(50% 50.00% at 50% 50.00%, #300871 0%, #000 100%);
}

/*------------------------------------*\
    link style
\*------------------------------------*/
.link-color-white{
    color: white;
}


/*------------------------------------*\
    font style
\*------------------------------------*/
.noto-sans{
    font-family: 'Noto Sans TC', sans-serif;
}