<footer class="container p-10 py-sm-13">
    <div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-center  justify-content-between">
        <div>
            <div class="d-flex align-items-baseline mb-2 mb-sm-0">
                <a class="fs-3 link-color-dark" href="index.html">ALPHABOX+</a>
            </div>
            <p class="noto-sans copyrights fw-semibold d-none d-sm-block">Copyrights © 2023 Hexschool.</p>
        </div>
        <div class="mb-2 mb-sm-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none">
                <mask id="mask0_2013_843" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="80"
                    height="80">
                    <rect width="80" height="80" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_2013_843)">
                    <path
                        d="M34.1665 70V50.1667L16.9998 60.0833L11.1665 50L28.3332 40L11.1665 30.0833L16.9998 20L34.1665 29.9167V10H45.8332V29.9167L62.9998 20L68.8332 30.0833L51.6665 40L68.8332 50L62.9998 60.0833L45.8332 50.1667V70H34.1665Z"
                        fill="black" />
                </g>
            </svg>
        </div>
        <div>
            <nav>
                <ul class="d-md-flex">
                    <li class="mb-2 mb-md-0 me-md-3 me-lg-6"><a class="link-color-dark" href="">關於我們</a></li>
                    <li class="mb-2 mb-md-0 me-md-3 me-lg-6"><a class="link-color-dark" href="">產品資訊</a></li>
                    <li class="mb-2 mb-md-0 me-md-3 me-lg-6"><a class="link-color-dark" href="">常見問題</a></li>
                    <li class="mb-2 mb-sm-0"><a class="link-color-dark" href="">隱私政策</a></li>
                    <li class="d-sm-none">
                        <p class="noto-sans copyrights fw-bold">Copyrights © 2023 Hexschool.</p>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>