<header class="container py-4">
    <div class="d-flex justify-content-between">
        <h1>
            <a class="link-color-white fs-3" href="index.html">ALPHABOX+</a>
        </h1>
        <nav class="d-flex">
            <ul class="d-flex align-items-center">
                <li class="d-none d-lg-block me-lg-5 me-xl-10"><a class="link-color-white" href="product.html">產品</a></li>
                <li class="d-none d-lg-block me-lg-5 me-xl-10"><a class="link-color-white" href="">關於我們</a></li>
                <li class="d-none d-lg-block me-lg-5 me-xl-10"><a class="link-color-white" href="news.html">最新消息</a></li>
                <li class="d-none d-lg-block me-lg-5 me-xl-10"><a class="link-color-white noto-sans" href="">FAQ</a>
                </li>
                <li><a class="d-none d-lg-block link-color-white" href="">聯絡我們</a></li>
            </ul>
        </nav>

        <nav class="d-flex">
            <ul class="d-none d-sm-flex align-items-center">
                <li class="me-6 d-sm-block"><a class="link-color-white" href="">註冊</a></li>
                <li class="me-6 d-sm-block"><a class="link-color-white" href="login">登入</a></li>
                <li class="d-none d-lg-block">
                    <a class="btn btn-white btn-hover py-2 px-4" href="">
                        <svg class="icon-open" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none">
                            <mask id="mask0_2835_65" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                                width="24" height="24">
                                <rect width="24" height="24" fill="#D9D9D9" />
                            </mask>
                            <g mask="url(#mask0_2835_65)">
                                <path
                                    d="M12 14C11.45 14 10.9792 13.8042 10.5875 13.4125C10.1958 13.0208 10 12.55 10 12C10 11.45 10.1958 10.9792 10.5875 10.5875C10.9792 10.1958 11.45 10 12 10C12.55 10 13.0208 10.1958 13.4125 10.5875C13.8042 10.9792 14 11.45 14 12C14 12.55 13.8042 13.0208 13.4125 13.4125C13.0208 13.8042 12.55 14 12 14ZM11 8V3H13V8H11ZM11 21V16H13V21H11ZM16 13V11H21V13H16ZM3 13V11H8V13H3Z"
                                    fill="black" />
                            </g>
                        </svg>
                        <svg class="icon-none" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none">
                            <mask id="mask0_2835_65" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                                width="24" height="24">
                                <rect width="24" height="24" fill="#D9D9D9" />
                            </mask>
                            <g mask="url(#mask0_2835_65)">
                                <path
                                    d="M12 14C11.45 14 10.9792 13.8042 10.5875 13.4125C10.1958 13.0208 10 12.55 10 12C10 11.45 10.1958 10.9792 10.5875 10.5875C10.9792 10.1958 11.45 10 12 10C12.55 10 13.0208 10.1958 13.4125 10.5875C13.8042 10.9792 14 11.45 14 12C14 12.55 13.8042 13.0208 13.4125 13.4125C13.0208 13.8042 12.55 14 12 14ZM11 8V3H13V8H11ZM11 21V16H13V21H11ZM16 13V11H21V13H16ZM3 13V11H8V13H3Z"
                                    fill="white" />
                            </g>
                        </svg>
                        訂閱</a>
                </li>
            </ul>
            <div class="align-self-center">
                <a class="d-flex align-items-center d-lg-none " data-bs-toggle="collapse" href="#menu" role="button"
                    aria-expanded="false" aria-controls="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" fill="none">
                        <mask id="mask0_3783_575" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                            width="44" height="44">
                            <rect width="44" height="44" fill="#D9D9D9" />
                        </mask>
                        <g mask="url(#mask0_3783_575)">
                            <path
                                d="M5.5 33V29.3333H38.5V33H5.5ZM5.5 23.8333V20.1667H38.5V23.8333H5.5ZM5.5 14.6667V11H38.5V14.6667H5.5Z"
                                fill="white" />
                        </g>
                    </svg>
                </a>

            </div>
        </nav>
    </div>
</header>

<div>
    <div class="collapse position-absolute menu d-lg-none bg-1" id="menu">
        <ul class="text-center pt-6 pb-8">
            <li class="mb-5"><a class="link-color-white" href="product.html">產品</a></li>
            <li class="mb-5"><a class="link-color-white" href="">關於我們</a></li>
            <li class="mb-5"><a class="link-color-white" href="news.html">最新消息</a></li>
            <li class="mb-5"><a class=" noto-sans link-color-white" href="">FAQ</a></li>
            <li class="mb-5"><a class="link-color-white" href="">聯絡我們</a></li>
            <li class="d-sm-none mb-5"><a class="link-color-white" href="">註冊</a></li>
            <li class="d-sm-none mb-3"><a class="link-color-white" href="login.html">登入</a></li>
            <li class="align-self-center">
                <a class="btn btn-white btn-hover py-2 px-4 " href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none">
                        <mask id="mask0_2835_65" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                            width="24" height="24">
                            <rect width="24" height="24" fill="#D9D9D9" />
                        </mask>
                        <g mask="url(#mask0_2835_65)">
                            <path
                                d="M12 14C11.45 14 10.9792 13.8042 10.5875 13.4125C10.1958 13.0208 10 12.55 10 12C10 11.45 10.1958 10.9792 10.5875 10.5875C10.9792 10.1958 11.45 10 12 10C12.55 10 13.0208 10.1958 13.4125 10.5875C13.8042 10.9792 14 11.45 14 12C14 12.55 13.8042 13.0208 13.4125 13.4125C13.0208 13.8042 12.55 14 12 14ZM11 8V3H13V8H11ZM11 21V16H13V21H11ZM16 13V11H21V13H16ZM3 13V11H8V13H3Z"
                                fill="black" />
                        </g>
                    </svg>
                    訂閱</a>
            </li>
        </ul>
    </div>
</div>