.index-circle {
    width: 196px;
    height: 196px;
    @include rotate-360;
}

.alphabox {
    font-size: 1.25rem;

    @include media-min-576 {
        font-size: 2rem;
    }
}

.bg__line {
    height: 1px;
    background: rgba(185, 131, 255, 0.70);
    width: 3000px;

    &--1 {
        transform: rotate(20deg);
        top: 400px;
        left: -200px;
    }

    &--2 {
        transform: rotate(-5deg);
        top: 100px;
        left: -300px;
    }
}

.index__input{
    &::placeholder {
        color: $primary-500;    
    }
    &__text{
        resize: none;
        height: 120px;
    }
}

/*------------------------------------*\
    z-index
\*------------------------------------*/
.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-3 {
    z-index: 3;
}



/*------------------------------------*\
    blocks
\*------------------------------------*/
.block {
    &__2--left {
        position: absolute;
        @include bg-img-cover;
        background-image: url("https://github.com/newhandarky/week8-ai/blob/main/assets/images/carousel_background.jpg?raw=true");
        width: 50%;
        height: 1000px;

        @include media-min-992 {
            height: 1089px;
        }

        filter: blur(5px);
        top: 0;
        left: 0;
    }

    &__2 {
        position: relative;
        backdrop-filter: blur(5px);
        margin-top: -88px;
        @include bg-img-cover;
        background-image: url("https://github.com/newhandarky/week8-ai/blob/main/assets/images/carousel_background.jpg?raw=true");

        @include media-min-768 {
            background: radial-gradient(50% 50% at 50% 50%, #300871 0%, #000 100%);
        }

        height: 790px;

        @include media-min-576 {
            height: 1000px;
        }

        @include media-min-992 {
            height: 1089px;
        }

        filter: brightness(0.7) blur(5px);

        &__content {
            h2 {
                @include set-letter-spacing(24px);

                @include media-min-768 {
                @include set-letter-spacing(36px);
                }

                @include media-min-1200 {
                @include set-letter-spacing(48px);
                }
            }

            top: 144px;
        }

        &__item {
            height: 351px;
            background-image: url('https://github.com/newhandarky/week8-ai/blob/main/assets/images/carousel.jpg?raw=true');
            @include bg-img-cover;

            @include media-min-576 {
                height: 560px;
            }

            h3 {
                font-size: 64px;

                @include media-min-768 {
                    font-size: 80px;
                }

                @include media-min-1200 {
                    font-size: 96px;
                }
            }

            h4 {
                @include set-letter-spacing(24px);

                @include media-min-768 {
                    @include set-letter-spacing(32px);
                }
            }
        }
    }

    &__3 {
        h2 {
            letter-spacing: 40px;
            text-indent: 40px;

            @include media-min-768 {
                letter-spacing: 48px;
                text-indent: 0;
            }
        }

        &__date {
            letter-spacing: 16px;
        }

        h3 {
            letter-spacing: 20px
        }

        &__text {
            max-width: 950px
        }
        &__center__border{
            @include media-min-768 {
                border-left: 1px solid white;
            }
        }
        .circle-img{
            width: 132px;
            height: 132px;
            z-index: 1;
            @include rotate-360;
        }
        .circle-text{
            top: 52px;
            z-index: 2;
            background: $primary-600;
        }

    }
    &__4{
        h2{
            @include set-letter-spacing(40px);
            @include media-min-768 {
                @include set-letter-spacing(48px);
            }
        }
        &__sm__blocks{
            li:nth-child(1) ,li:nth-child(3){
                height: 351px;
                background: $primary-400;
            }
            li:nth-child(2) ,li:nth-child(4){
                height: 351px;
                background: white;
                color: black
            }
        }
    }
    &__5{
        h3{
            @include set-letter-spacing(40px);
            @include media-min-1200 {
                @include set-letter-spacing(48px);
            }
        }
        &__white-bar{
            background: white;
            width: 124px;
            height: 12px;
        }
    }

    &__6{
        .card{
            @include bg-img-cover;
            background-color: #000;
            background-blend-mode: darken;
            transition: all 1s;
            &:hover {
                background-color: rgb(0, 0, 0, 50%);
            }
            &__item__1{
                background-image: url("https://github.com/newhandarky/week8-ai/blob/main/assets/images/diane_vertical.png?raw=true");
            }
            &__item__2{
                background-image: url("https://github.com/newhandarky/week8-ai/blob/main/assets/images/felix_vertical.png?raw=true");
            }
            &__item__3{
                background-image: url("https://github.com/newhandarky/week8-ai/blob/main/assets/images/karina_verticalgle.png?raw=true");
            }
            &__item__4{
                background-image: url("https://github.com/newhandarky/week8-ai/blob/main/assets/images/vito_vertical.png?raw=true");
            }
            h3{
                font-size: 24px;
                font-weight: 400;
                @include media-min-768 {
                    font-size: 32px;
                }
            }
        }
    }
}

/*------------------------------------*\
    index page background-color
\*------------------------------------*/

.bg-gradient-right {
    @include gradient-x($primary-200, $primary-600);
    height: 40px;
    position: relative;
}

.bg-gradient-left {
    @include gradient-x($primary-600, $primary-200);
    height: 40px;
    position: relative;
}


.bg-block-3 {
    background: radial-gradient(50% 50% at 50% 50%, #28085C 0%, #000 100%);
}

.bg-block-4 {
    background: radial-gradient(50% 50% at 50% 50%, #000 0%, #28085C 100%);
}

.bg-block-5{
    background: $primary-500;
}

.bg-text{
    color: rgba(255, 255, 255, 0.04);
    text-align: center;
    font-size: 128px;
    bottom: -160x;
    @include media-min-768 {
        font-size: 400px;
        bottom: -540px;
    }
}
.text-extra{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 128px;
    font-weight: 300;
    color: white;
    text-align: center;
    @include media-min-576 {
        font-size: 200px;
    }
    @include media-min-768 {
        font-size: 300px;
    }
    @include media-min-992 {
        font-size: 400px;
    }
}

/*------------------------------------*\
    ai-block
\*------------------------------------*/
.ai__card {
    @include bg-img-cover;
    height: 351px;

    @include media-min-576 {
        height: 580px;
    }

    &:hover {
        box-shadow: 0px 0px 16px 8px rgba(143, 0, 255, 0.80);
    }

    &__group {
        z-index: 3;
    }

    &--1 {
        background-image: url("https://github.com/newhandarky/week8-ai/blob/main/assets/images/diane_square1.png?raw=true");

        @include media-min-768 {
            background-image: url("https://github.com/newhandarky/week8-ai/blob/main/assets/images/diane.png?raw=true");
        }

        @include media-min-1200 {
            height: 676px;
            margin-top: -96px;
        }
    }

    &--2 {
        background-image: url("https://github.com/newhandarky/week8-ai/blob/main/assets/images/felix_square1.png?raw=true");

        @include media-min-768 {
            background-image: url("https://github.com/newhandarky/week8-ai/blob/main/assets/images/felix.png?raw=true");
        }
    }

    &--3 {
        background-image: url("https://github.com/newhandarky/week8-ai/blob/main/assets/images/karina_square1.png?raw=true");

        @include media-min-768 {
            background-image: url("https://github.com/newhandarky/week8-ai/blob/main/assets/images/karina.png?raw=true");
        }
    }

    &--4 {
        background-image: url("https://github.com/newhandarky/week8-ai/blob/main/assets/images/vito_square1.png?raw=true");

        @include media-min-768 {
            background-image: url("https://github.com/newhandarky/week8-ai/blob/main/assets/images/vito.png?raw=true");
        }

        @include media-min-1200 {
            height: 676px;
            margin-top: -96px;
        }
    }
}

/*------------------------------------*\
    swiper
\*------------------------------------*/
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// .swiper-scrollbar-horizontal{
//     width: 500px;
// }
