h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 0;
}
.font-family-ch{
    font-family: 'Noto Sans TC', sans-serif;
}
.bg-3 {
    background: linear-gradient(180deg, rgba(40, 8, 92, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
.bg-4{
    background-color: rgba(56, 12, 126, 1);
}
.bg-5{
    background-color: rgba(255, 255, 255, 1);
}
.product-btn-1{
    color: $white;
    background-color: $black;
    &:hover{
        color: #7000FF;
        background-color: $white;

    }

}
.nav-button{
    .product-active{
            color: $black;
            background-color: $white;
    }

}
.product-banner{
    display: flex;
    flex-direction: column;

}
.product-banner-left{
    width: 100%;

}
.product-banner-right{
    width: 100%;
    padding-bottom: 149px;
    .border{
        border: 2px solid $white;
    }
    .line{
        width: 25%;
    }
    .material-symbols-outlined{
        position: absolute;
        top: -11px;
        left: 24%;
        font-weight: 900;
    }
    

}

.left-arrow{
    font-size: $font-size-base*2.25;
}
.right-arrow{
    font-size: $font-size-base*2.25;
}
.alphaboxCircleBox{
    bottom: 0;
    left: 36%;
}

.alphaboxCircle {
    width: 109px;
    animation-name: rotate;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
    animation-fill-mode: both; 

}



@keyframes rotate {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}
.pc-text{
    display: none;
}

.text-body{
    li{
        h6{
            &:hover{
                    border-bottom: 2px solid rgba(0, 0, 0, 1);
            }
    
        }

    }

}

.dot-s{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    vertical-align: 2px;
}
.dot-l{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    vertical-align:0px;
}
@media(min-width:768px){
    .product-banner-right{
        .line{
            width: 50%;
        }
        .material-symbols-outlined{
            // position: absolute;
            top: -10px;
            left: 49%;
        }
        
    
    }
}

@media(min-width:992px){

    .product-banner{
        display: flex;
        flex-direction: row;
    
    }
    .product-banner-left{
        width: 50%;
    }
    .product-banner-right{
        width: 50%;
        .material-symbols-outlined{
            top: -11px;
            // left: 49%;
        }
    }
    .left-arrow{
        font-size: $font-size-base*3.75;
    }
    .right-arrow{
        font-size: $font-size-base*3.75;
    }
    .pc-text{
        display: block;
    }
    .alphaboxCircleBox{
        bottom: 0;
        left: -13%;
    }
    .alphaboxCircle {
        width: 196px;
    }
}