<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>

<body>
  <section class="bg-gradient-y overflow-hidden">
    <%- include('./layout/header'); -%>

      <div class="block__1 border-1 border-top border-white px-6 px-lg-20 pt-7 pb-4 pt-sm-14 ">
        <div class="row noto-sans mb-14 flex-column-reverse flex-sm-row justify-content-md-between">
          <div class="col-3 d-none d-sm-flex flex-column justify-content-end text-white">
            <div class="border-1 border-bottom border-white pb-2">
              <p class="fw-bold">最新消息！新版本 v15.4 釋出，搶先體驗！</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 align-self-center">
            <div class="text-center ">
              <img class="index-circle"
                src="https://github.com/newhandarky/week8-ai/blob/main/assets/images/circle.png?raw=true" alt="">
            </div>
          </div>
          <div class="col-12 col-sm-3 d-flex">
            <div
              class="border-1 border-top border-white d-flex flex-column justify-content-between text-white px-0 pt-1 mb-8 mb-sm-0 w-100">
              <p class="fw-bold letter-spacing-xs">ALPHABOX+ STUDIO</p>
              <p class="fw-semibold letter-spacing-xs dark-primary d-none d-sm-block">Copyright © 2023 Hexschool.</p>
            </div>
          </div>

        </div>

        <div class="row text-white mb-6">
          <div class="col-3"></div>
          <div class="col-xl-6">
            <h2 class="alphabox d-flex justify-content-between">
              <span>A</span>
              <span>L</span>
              <span>P</span>
              <span>H</span>
              <span>A</span>
              <span>B</span>
              <span>O</span>
              <span>X</span>
              <span>+</span>
            </h2>
            <h3 class="fs-6 text-center fw-bold letter-spacing-sm">擁抱未來科技，專屬您的<span class="noto-sans">3D</span>立體投影陪伴機器人
            </h3>
          </div>
          <div class="col-3"></div>
        </div>

        <div class="position-relative">
          <div class="bg__line bg__line--1 z-index-1 position-absolute"></div>
        </div>
        <div class="position-relative">
          <div class="bg__line bg__line--2 z-index-1 position-absolute"></div>
        </div>

        <div class="ai__card__group position-relative overflow-visible">
          <div class="row">
            <div class="col-md-6 col-xl-3 px-0 px-md-3 pe-xl-4 pb-4 pb-md-6 pb-xl-0">
              <div>
                <div class="ai__card ai__card--1 text-center pt-4">
                  <span class="fs-3 text-white">Diane</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3 px-0 px-md-3 px-xl-4 pb-4 pb-md-6 pb-xl-0">
              <div>
                <div class="ai__card ai__card--2 text-center pt-4">
                  <span class="fs-3 text-white">Felix</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3 px-0 px-md-3 px-xl-4 pb-4 pb-md-0">
              <div>
                <div class="ai__card ai__card--3 text-center pt-4">
                  <span class="fs-3 text-white">Karina</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3 px-0 px-md-3 ps-xl-4">
              <div>
                <div class="ai__card ai__card--4 text-center pt-4">
                  <span class="fs-3 text-white">Vito</span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

  </section>

  <section class="position-relative">

    <div class="block__2 z-index-2"></div>
    <div class="block__2--left z-index-2 d-none d-md-block"></div>


    <div class="block__2__content z-index-3 position-absolute w-100">
      <div class="px-3 px-md-10 px-lg-20">
        <div class="bg-gradient-right z-index-3 mb-2"></div>
        <h2 class="text-white fw-bold noto-sans mb-5 mb-md-3"><span class="d-block mb-2 mb-md-3">什麼是
          </span><span>ALPHABOX+</span></h2>
      </div>

      <div class="border-1 border-top border-white pt-4 pt-lg-8">

        <div class="d-flex justify-content-between align-items-center px-3 px-md-10 px-lg-20 mb-8">

          <div class="button-prev me-xl-13 d-none d-lg-block">
            <svg xmlns="http://www.w3.org/2000/svg" width="180" height="48" viewBox="0 0 180 48" fill="none">
              <mask id="mask0_303_5647" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="180"
                height="48">
                <rect width="180" height="48" fill="#D9D9D9" />
              </mask>
              <g mask="url(#mask0_303_5647)">
                <path class="button-prev-path" d="M26 38L4 24L26 10L19.15 22H176V26H19.15L26 38Z" fill="#828282" />
              </g>
            </svg>
          </div>
          <div class="swiper">
            <div class="swiper-wrapper text-white">
              <div
                class="swiper-slide block__2__item p-4 p-lg-10 d-flex flex-column justify-content-end align-items-start justify-content-sm-center align-items-sm-end">
                <h3 class="fw-normal">01</h3>
                <h4 class="fw-bold">立體投影技術</h4>
                <p class="fw-bold text-start">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
              </div>
              <div
                class="swiper-slide block__2__item p-4 p-lg-10 d-flex flex-column justify-content-end align-items-start justify-content-sm-center align-items-sm-end">
                <h3 class="fw-normal">02</h3>
                <h4 class="fw-bold">立體投影技術</h4>
                <p class="fw-bold text-start">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
              </div>
              <div
                class="swiper-slide block__2__item p-4 p-lg-10 d-flex flex-column justify-content-end align-items-start justify-content-sm-center align-items-sm-end">
                <h3 class="fw-normal">03</h3>
                <h4 class="fw-bold">立體投影技術</h4>
                <p class="fw-bold text-start">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
              </div>
            </div>
          </div>
          <div class="button-next ms-xl-13 d-none d-lg-block">
            <svg xmlns="http://www.w3.org/2000/svg" width="180" height="48" viewBox="0 0 180 48" fill="none">
              <mask id="mask0_250_5034" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="180"
                height="48">
                <rect width="180" height="48" fill="#D9D9D9" />
              </mask>
              <g mask="url(#mask0_250_5034)">
                <path class="button-next-path" d="M154 38L160.85 26H4V22H160.85L154 10L176 24L154 38Z" fill="white" />
              </g>
            </svg>
          </div>
        </div>
      </div>
      <div class="px-3 px-md-10 px-lg-20 ">
        <div class="bg-gradient-left z-index-3"></div>
      </div>
    </div>

  </section>

  <section class="bg-block-3 noto-sans">
    <div class="block__3 container text-white">
      <div class="row pt-15 pt-xl-20">
        <div class="px-0 pt-xl-20 mb-8 mb-xl-10">
          <h2 class="text-center text-md-start fw-bold">最新消息</h2>
        </div>
        <div class="col-12 px-md-0">
          <div class="px-md-4 border-1 border-top border-white pt-8 pt-md-10">
            <span class="block__3__date fw-bold mb-2">
              <svg class="me-4 " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                fill="none">
                <mask id="mask0_435_1959" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24"
                  height="24">
                  <rect width="24" height="24" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_435_1959)">
                  <path
                    d="M10.25 21V15.05L5.09998 18.025L3.34998 15L8.49998 12L3.34998 9.025L5.09998 6L10.25 8.975V3H13.75V8.975L18.9 6L20.65 9.025L15.5 12L20.65 15L18.9 18.025L13.75 15.05V21H10.25Z"
                    fill="white" />
                </g>
              </svg>2023.06.30
            </span>
            <h3 class="fw-bold mb-3">產品升級公告</h3>
            <div class="d-md-flex justify-content-between mb-8 mb-10">
              <p class="block__3__text fw-bold mb-3 mb-md-0">榮幸地宣布，ALPHABOX+
                已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！</p>
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="196" height="24" viewBox="0 0 196 24" fill="none">
                  <mask id="mask0_237_5007" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="196"
                    height="24">
                    <rect width="196" height="24" fill="#D9D9D9" />
                  </mask>
                  <g mask="url(#mask0_237_5007)">
                    <path d="M183 19L186.425 13H2V11H186.425L183 5L194 12L183 19Z" fill="white" />
                  </g>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 px-md-0">
          <div class="px-md-4 border-1 border-top border-white pt-8 pt-md-10">
            <span class="block__3__date fw-bold mb-2">
              <svg class="me-4 " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                fill="none">
                <mask id="mask0_435_1959" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24"
                  height="24">
                  <rect width="24" height="24" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_435_1959)">
                  <path
                    d="M10.25 21V15.05L5.09998 18.025L3.34998 15L8.49998 12L3.34998 9.025L5.09998 6L10.25 8.975V3H13.75V8.975L18.9 6L20.65 9.025L15.5 12L20.65 15L18.9 18.025L13.75 15.05V21H10.25Z"
                    fill="white" />
                </g>
              </svg>2023.06.30
            </span>
            <h3 class="fw-bold mb-3">限時優惠活動</h3>
            <div class="mb-8 mb-10">
              <p class="fw-bold mb-3">為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+ 的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！</p>
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="90" height="24" viewBox="0 0 90 24" fill="none">
                  <mask id="mask0_435_2013" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="90"
                    height="24">
                    <rect width="90" height="24" fill="#D9D9D9" />
                  </mask>
                  <g mask="url(#mask0_435_2013)">
                    <path d="M77 19L80.425 13H2V11H80.425L77 5L88 12L77 19Z" fill="white" />
                  </g>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="block__3__center__border col-12 col-md-6 px-md-0">
          <div class="px-md-4 border-1 border-top border-white pt-8 pt-md-10">
            <span class="block__3__date fw-bold mb-2">
              <svg class="me-4 " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                fill="none">
                <mask id="mask0_435_1959" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24"
                  height="24">
                  <rect width="24" height="24" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_435_1959)">
                  <path
                    d="M10.25 21V15.05L5.09998 18.025L3.34998 15L8.49998 12L3.34998 9.025L5.09998 6L10.25 8.975V3H13.75V8.975L18.9 6L20.65 9.025L15.5 12L20.65 15L18.9 18.025L13.75 15.05V21H10.25Z"
                    fill="white" />
                </g>
              </svg>2023.04.18
            </span>
            <h3 class="fw-bold mb-3">新功能上線</h3>
            <div class="mb-8 mb-10">
              <p class="fw-bold mb-3">為使您的 ALPHABOX+ 更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。</p>
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="90" height="24" viewBox="0 0 90 24" fill="none">
                  <mask id="mask0_435_2013" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="90"
                    height="24">
                    <rect width="90" height="24" fill="#D9D9D9" />
                  </mask>
                  <g mask="url(#mask0_435_2013)">
                    <path d="M77 19L80.425 13H2V11H80.425L77 5L88 12L77 19Z" fill="white" />
                  </g>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12px-md-0">
          <div class="px-md-4 border-1 border-top border-white pt-8 pt-md-10">
            <div class="d-flex justify-content-center position-relative mb-20">
              <a class="" href="">
                <img class="circle-img"
                  src="https://github.com/newhandarky/week8-ai/blob/main/assets/images/circle.png?raw=true" alt="">
              </a>
              <a class="circle-text fw-bold position-absolute link-color-white">查看更多</a>
            </div>
            <div class="d-none d-md-flex justify-content-end pt-4 mb-10">
              <p class="fw-bold">為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="bg-block-4 text-white position-relative overflow-hidden">
    <div class="block__4 container pt-15 pb-20 pb-lg-10 pt-xl-20">
      <div class="row pt-xl-20">
        <div class="col-12 col-xl-5 mb-4">
          <h2 class="fw-bold">使用分享</h2>
        </div>
        <div class="d-none d-md-flex align-items-center col-xl-7 mb-4">
          <p class="fw-bold">展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
        </div>
      </div>
      <div class="mb-6 mb-lg-10">
        <span class="me-1 noto-sans fw-bold">01</span>
        <span class="me-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <mask id="mask0_281_5207" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24"
              height="24">
              <rect width="24" height="24" fill="#D9D9D9" />
            </mask>
            <g mask="url(#mask0_281_5207)">
              <path d="M4 13V11H20V13H4Z" fill="white" />
            </g>
          </svg>
        </span>
        <span class="noto-sans fw-bold">04</span>
      </div>
      <div class="mb-4 mb-lg-6">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none">
            <mask id="mask0_256_5041" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="80"
              height="80">
              <rect width="80" height="80" fill="#D9D9D9" />
            </mask>
            <g mask="url(#mask0_256_5041)">
              <path
                d="M34.1666 70V50.1667L17 60.0833L11.1666 50L28.3333 40L11.1666 30.0833L17 20L34.1666 29.9167V10H45.8333V29.9167L63 20L68.8333 30.0833L51.6666 40L68.8333 50L63 60.0833L45.8333 50.1667V70H34.1666Z"
                fill="white" />
            </g>
          </svg>
        </span>
      </div>
      <div class="block__4__sm__blocks d-sm-none noto-sans">
        <ul>
          <li class="p-6 d-flex flex-column justify-content-between mb-6">
            <div class="fw-bold">
              <p class="mb-8">
                <span class="me-2">Zona</span>
                <span class="me-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                    <circle cx="4" cy="4" r="4" fill="white" />
                  </svg>
                </span>Taipei
              </p>
              <p>ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
            </div>
            <div>
              <p>
                <span class="me-4">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <circle cx="8" cy="8" r="8" fill="white" />
                  </svg>
                </span>
                <span class="me-4">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <circle cx="8" cy="8" r="8" fill="white" />
                  </svg>
                </span>
                ALPHABOX+ Dianne
              </p>
            </div>
          </li>
          <li class="p-6 d-flex flex-column justify-content-between mb-6">
            <div class="fw-bold">
              <p class="mb-8">
                <span class="me-2">Lin</span>
                <span class="me-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                    <circle cx="4" cy="4" r="4" fill="white" />
                  </svg>
                </span>Chiayi
              </p>
              <p>非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
            </div>
            <div>
              <p>
                <span class="me-4">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <circle cx="8" cy="8" r="8" fill="black" />
                  </svg>
                </span>
                <span class="me-4">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <circle cx="8" cy="8" r="8" fill="black" />
                  </svg>
                </span>
                ALPHABOX+ Felix
              </p>
            </div>
          </li>
          <li class="p-6 d-flex flex-column justify-content-between mb-6">
            <div class="fw-bold">
              <p class="mb-8">
                <span class="me-2">云</span>
                <span class="me-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                    <circle cx="4" cy="4" r="4" fill="white" />
                  </svg>
                </span>Taipei
              </p>
              <p>我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！</p>
            </div>
            <div>
              <p>
                <span class="me-4">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <circle cx="8" cy="8" r="8" fill="white" />
                  </svg>
                </span>
                <span class="me-4">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <circle cx="8" cy="8" r="8" fill="white" />
                  </svg>
                </span>
                ALPHABOX+ Dianne
              </p>
            </div>
          </li>
          <li class="p-6 d-flex flex-column justify-content-between">
            <div class="fw-bold">
              <p class="mb-8">
                <span class="me-2">Zichi</span>
                <span class="me-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                    <circle cx="4" cy="4" r="4" fill="white" />
                  </svg>
                </span>Kaohsiung
              </p>
              <p>讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！</p>
            </div>
            <div>
              <p>
                <span class="me-4">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <circle cx="8" cy="8" r="8" fill="black" />
                  </svg>
                </span>
                <span class="me-4">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <circle cx="8" cy="8" r="8" fill="black" />
                  </svg>
                </span>
                ALPHABOX+ Vito
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="d-none d-sm-block block__4__sm__blocks noto-sans">
        <div class="block__4-swiper overflow-hidden vw-100">
          <ul class="swiper-wrapper mb-20">
            <li class="swiper-slide block__4__sm__item p-6 d-flex flex-column justify-content-between mb-6">
              <div class="fw-bold">
                <p class="mb-8">
                  <span class="me-2">Zona</span>
                  <span class="me-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                      <circle cx="4" cy="4" r="4" fill="white" />
                    </svg>
                  </span>Taipei
                </p>
                <p>ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
              </div>
              <div>
                <p>
                  <span class="me-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                      <circle cx="8" cy="8" r="8" fill="white" />
                    </svg>
                  </span>
                  <span class="me-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                      <circle cx="8" cy="8" r="8" fill="white" />
                    </svg>
                  </span>
                  ALPHABOX+ Dianne
                </p>
              </div>
            </li>
            <li class="swiper-slide block__4__sm__item p-6 d-flex flex-column justify-content-between mb-6">
              <div class="fw-bold">
                <p class="mb-8">
                  <span class="me-2">Lin</span>
                  <span class="me-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                      <circle cx="4" cy="4" r="4" fill="white" />
                    </svg>
                  </span>Chiayi
                </p>
                <p>非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
              </div>
              <div>
                <p>
                  <span class="me-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                      <circle cx="8" cy="8" r="8" fill="black" />
                    </svg>
                  </span>
                  <span class="me-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                      <circle cx="8" cy="8" r="8" fill="black" />
                    </svg>
                  </span>
                  ALPHABOX+ Felix
                </p>
              </div>
            </li>
            <li class="swiper-slide block__4__sm__item p-6 d-flex flex-column justify-content-between mb-6">
              <div class="fw-bold">
                <p class="mb-8">
                  <span class="me-2">云</span>
                  <span class="me-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                      <circle cx="4" cy="4" r="4" fill="white" />
                    </svg>
                  </span>Taipei
                </p>
                <p>我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！</p>
              </div>
              <div>
                <p>
                  <span class="me-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                      <circle cx="8" cy="8" r="8" fill="white" />
                    </svg>
                  </span>
                  <span class="me-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                      <circle cx="8" cy="8" r="8" fill="white" />
                    </svg>
                  </span>
                  ALPHABOX+ Dianne
                </p>
              </div>
            </li>
            <li class="swiper-slide block__4__sm__item p-6 d-flex flex-column justify-content-between">
              <div class="fw-bold">
                <p class="mb-8">
                  <span class="me-2">Zichi</span>
                  <span class="me-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                      <circle cx="4" cy="4" r="4" fill="white" />
                    </svg>
                  </span>Kaohsiung
                </p>
                <p>讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！</p>
              </div>
              <div>
                <p>
                  <span class="me-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                      <circle cx="8" cy="8" r="8" fill="black" />
                    </svg>
                  </span>
                  <span class="me-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                      <circle cx="8" cy="8" r="8" fill="black" />
                    </svg>
                  </span>
                  ALPHABOX+ Vito
                </p>
              </div>
            </li>
          </ul>
          <div>
            <div>
              <div class="swiper-scrollbar bg-white"></div>
              <span>SCROLL</span>
            </div>
          </div>
          <div>
          </div>
        </div>
      </div>
      <div class="pt-7">
        <p>若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。</p>
      </div>
    </div>



    <div class="bg-text position-absolute start-50 translate-middle">
      ALPHABOX+
    </div>
  </section>


  <section class="bg-block-5 block__5 pt-15 pb-20 py-lg-20">
    <div class="container py-sm-10 py-md-12 py-lg-16 text-white">
      <div class="row">
        <div class="col-lg-5 mb-6 mb-lg-0">
          <h3 class="mb-3 mb-lg-5">聯絡我們</h3>
          <div class="d-flex align-items-center mb-9 mb-lg-13">
            <div class="me-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                <circle cx="6" cy="6" r="6" fill="white" />
              </svg>
            </div>
            <div class="block__5__white-bar rounded-pill"></div>
          </div>
          <p>讓科技成為您的最佳夥伴
            <br>立即體驗神奇功能並享限時優惠!
          </p>
        </div>
        <div class="col-lg-7">
          <div class="mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none">
              <mask id="mask0_283_5229" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="80"
                height="80">
                <rect width="80" height="80" fill="#D9D9D9" />
              </mask>
              <g mask="url(#mask0_283_5229)">
                <path
                  d="M34.1666 70V50.1667L17 60.0833L11.1666 50L28.3333 40L11.1666 30.0833L17 20L34.1666 29.9167V10H45.8333V29.9167L63 20L68.8333 30.0833L51.6666 40L68.8333 50L63 60.0833L45.8333 50.1667V70H34.1666Z"
                  fill="white" />
              </g>
            </svg>
          </div>
          <form class="mb-4" id="myform" action="" method="post">
            <input class="index__input w-100 py-2 px-4 mb-4 noto-sans fw-bold" placeholder="EMAIL" type="email"
              name="email" id="email">
            <textarea class="index__input index__input__text w-100 py-2 px-4 noto-sans fw-bold" placeholder="COMMENTS"
              name="comments" id="comments"></textarea>
          </form>
        </div>
        <div class="d-none d-lg-block col-lg-8"></div>
        <div class="col-lg-4">
          <button class="btn btn-primary py-2 px-4 col-lg-4 w-100" type="submit" form="myform">
            <svg class="icon-open" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              fill="none">
              <mask id="mask0_2835_65" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24"
                height="24">
                <rect width="24" height="24" fill="#D9D9D9" />
              </mask>
              <g mask="url(#mask0_2835_65)">
                <path
                  d="M12 14C11.45 14 10.9792 13.8042 10.5875 13.4125C10.1958 13.0208 10 12.55 10 12C10 11.45 10.1958 10.9792 10.5875 10.5875C10.9792 10.1958 11.45 10 12 10C12.55 10 13.0208 10.1958 13.4125 10.5875C13.8042 10.9792 14 11.45 14 12C14 12.55 13.8042 13.0208 13.4125 13.4125C13.0208 13.8042 12.55 14 12 14ZM11 8V3H13V8H11ZM11 21V16H13V21H11ZM16 13V11H21V13H16ZM3 13V11H8V13H3Z"
                  fill="white" />
              </g>
            </svg>
            <svg class="icon-none" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              fill="none">
              <mask id="mask0_2835_65" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24"
                height="24">
                <rect width="24" height="24" fill="#D9D9D9" />
              </mask>
              <g mask="url(#mask0_2835_65)">
                <path
                  d="M12 14C11.45 14 10.9792 13.8042 10.5875 13.4125C10.1958 13.0208 10 12.55 10 12C10 11.45 10.1958 10.9792 10.5875 10.5875C10.9792 10.1958 11.45 10 12 10C12.55 10 13.0208 10.1958 13.4125 10.5875C13.8042 10.9792 14 11.45 14 12C14 12.55 13.8042 13.0208 13.4125 13.4125C13.0208 13.8042 12.55 14 12 14ZM11 8V3H13V8H11ZM11 21V16H13V21H11ZM16 13V11H21V13H16ZM3 13V11H8V13H3Z"
                  fill="black" />
              </g>
            </svg>
            訂閱
          </button>
        </div>
      </div>
    </div>

  </section>

  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-6 col-xl-3">

        </div>
        <div class="col-6 col-xl-3">

        </div>
        <div class="col-6 col-xl-3">

        </div>
        <div class="col-6 col-xl-3">

        </div>
      </div>
    </div>

  </section>



  <%- include('./layout/footer'); -%>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
</body>

</html>


<script>
  window.onload = function () {

    window.addEventListener("resize", function () {
      if (window.screen.width < 992) {
        const swiper = new Swiper('.swiper', {
          autoplay: {
            delay: 2000,
          },
        });
      }
    })

    const swiper = new Swiper('.swiper', {
      direction: 'horizontal', // 投影片的方向為水平方向
      loop: false, // 不使用循環播放
      allowTouchMove: true, // 不要拖曳投影片
      // Navigation arrows
      navigation: {
        nextEl: '.button-next',  // 下一頁客製化圓點的CSS選擇器
        prevEl: '.button-prev',  // 上一頁客製化圓點的CSS選擇器
      },
    });

    const block4Swiper = new Swiper('.block__4-swiper', {
      // Optional parameters
      direction: 'horizontal',
      loop: false,
      spaceBetween: 24,
      // 滑鼠中鍵滾輪可滑動
      mousewheel: true,
      width: 416,
      // If we need pagination
      pagination: {
        el: '.swiper-pagination',
      },

      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },

      // And if we need scrollbar
      scrollbar: {
        el: '.swiper-scrollbar',
      },
    });

    const buttonNext = document.querySelector(".button-next");
    const buttonNextPath = document.querySelector(".button-next-path");
    const buttonPrev = document.querySelector(".button-prev");
    const buttonPrevPath = document.querySelector(".button-prev-path");
    let pageCount = 1;

    const checkPage = function (count) {
      if (count <= 1) {
        buttonPrevPath.setAttribute("fill", "#828282");
        return count = 1
      } else if (count === 2) {
        buttonNextPath.setAttribute("fill", "white");
        buttonPrevPath.setAttribute("fill", "white");
      } else if (count >= 3) {
        buttonNextPath.setAttribute("fill", "#828282");
        return count = 3
      }
    }

    buttonNext.addEventListener("click", function () {
      pageCount += 1;
      checkPage(pageCount);
    })
    buttonPrev.addEventListener("click", function () {
      pageCount -= 1;
      checkPage(pageCount);
    })

  };
</script>