<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>
    <div class="bg-gradient-y overflow-hidden px-6 px-lg-20">
      <%- include('./layout/header'); -%>

      <div class="block__1 border-1 border-top border-white pt-7 pt-sm-14 ">
        <div class="row noto-sans mb-14 flex-column-reverse flex-sm-row justify-content-md-between">
          <div class="col-3 border-1 border-bottom border-white d-none d-sm-flex flex-column justify-content-end text-white px-0 pb-2 ">            
            <p class="fw-bold">最新消息！新版本 v15.4 釋出，搶先體驗！</p>
          </div>
          <div class="col-12 col-sm-6 align-self-center">
            <div class="text-center ">
              <img class="circle" src="https://github.com/newhandarky/week8-ai/blob/main/assets/images/circle.png?raw=true" alt="">
            </div>         
          </div>
          <div class="col-12 col-sm-3 border-1 border-top border-white d-flex flex-column justify-content-between text-white px-0 pt-1 mb-8 mb-sm-0">
            <p class="fw-bold letter-spacing-xs">ALPHABOX+ STUDIO</p>
            <p class="fw-semibold letter-spacing-xs dark-primary d-none d-sm-block">Copyright © 2023 Hexschool.</p>
          </div>
        </div>

        <div class="row text-white mb-6">
          <div class="col-3"></div>
          <div class="col-md-6">
            <h2 class="alphabox d-flex justify-content-between">
              <span>A</span>
              <span>L</span>
              <span>P</span>
              <span>H</span>
              <span>A</span>
              <span>B</span>
              <span>O</span>
              <span>X</span>
              <span>+</span>
            </h2>
            <h3 class="fs-6 text-center fw-bold letter-spacing-sm">擁抱未來科技，專屬您的<span class="noto-sans">3D</span>立體投影陪伴機器人</h3>
          </div>
          <div class="col-3"></div>          
        </div>

        <div class="position-relative">
          <div class="bg__line bg__line--1 position-absolute"></div>
        </div>
        <div class="position-relative">
          <div class="bg__line bg__line--2 position-absolute"></div>
        </div>

        <div class="ai__card__group position-relative overflow-visible">
          <div class="row">
            <div class="col-3 ps-0 pe-4">
              <div class="ai__card ai__card--1 ">
                <span class="text-white text-center"></span>
              </div>
            </div>
            <div class="col-3 px-4">
              <div class="ai__card ai__card--2">
                <span class="text-white text-center"></span>
              </div>
            </div>
            <div class="col-3 px-4">
              <div class="ai__card ai__card--3">
                <span class="text-white text-center"></span>
              </div>
            </div>
            <div class="col-3 ps-4 pe-0">
              <div class="ai__card ai__card--4">
                <span class="text-white text-center"></span>
              </div>
            </div>
          </div>
        </div>      
      
      </div>

    </div>


    <div class="block__2">

    </div>
    



    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
